@media (max-width: 768px) {
     main::after{
            background: linear-gradient(0deg, black 45%, rgba(0, 0, 0, 0) 70%) no-repeat; /* gradiente de fundo */
            width: 100vw; /* largura do pseudo-elemento */
      }
      main .personagem .imagem{
            height: 85%;
            object-position: center;
      }

      .conteudo{
            justify-content: flex-end;
            left: 0; /* alinha o conteúdo à esquerda */
            top: -28%; /* alinha o conteúdo ao topo */
            max-width: 100vw; /* largura máxima do conteúdo */
            padding: 30px; /* espaçamento interno do conteúdo */
      }

      .conteudo .nome-personagem {
            font-size: 30px;

   }
    .conteudo .descricao {
            max-width: 500px; /* largura máxima da descrição */
      
      }

      .botoes{
            flex-direction: row;
            align-items: flex-end; /* alinha os botões ao final do conteúdo */
            width: 100%;
            padding: 30px;
      }

      .botoes .botao{
            width: 70px;
            height: 70px;
      }

      .botoes .botao img{
            max-width: 70px;
      }
}


@media (max-width: 425px){
      main .personagem .imagem{
            height: auto; /* altura automática da imagem do personagem */
            object-position: center;
      }

      .conteudo {
            top: -20%; /* alinha o conteúdo ao topo */
      }
      .conteudo .nome-personagem {
            font-size: 32px; /* tamanho da fonte do nome do personagem */
      }

      .botoes{
            padding: 20px;
            top: -10%;
      }

      .botoes .botao{
            width: 50px; /* largura do botão */
            height: 50px; /* altura do botão */
      }

}